{% extends './layout.html' %}
{% load static i18n %}
{% block content %}

<section
  style="background: url({% static 'blog\images\trial.jpg'%});   background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;"
  class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        
        <h1 style="color:#b48795">SPONSOR A CHILD</h1><br><br>
        <h2 style="color:#835a6a">Together,<br>we can make a change!</h2><br>
        <p style="color:rgb(224, 181, 203); background-color: black; ">A great way to invest into a child's future is to provide them with schooling. Join us to sponsor a child's education</p>
      </div>
    </div><a href=".intro" class="continue link-scroll" style="color: black;"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        
        <h2 class="h3"><em>Focus on Education,Fight Poverty</em></h2>
        <div class="blockquote">
          <blockquote>What happens when a country of the size of India has over 3 million 
            children living on the streets?<br> Or has over 150 million children working as bonded laborers? <br>
            Or one out of every six girl child does not live to see her 15th birthday? <br>
            What happens when despite having a national policy for compulsory primary child education in India <br>
            and a child labour policy only 50% of children have access to education?

          </blockquote>
          <footer class="blockquote-footer">Donate now, Change a generation!</footer>

          
        </div>
      </div>
    </div>
  </div>
</section><hr style=" border-style: none;
border-top: 9px dotted #835a6a ;    
height: 5px;
width: 5%;">

<!-- Divider Section-->
<h2 style="color:#6C4A4A;"><em>  It takes a big heart to help shape little minds</em></h2><br></br>
<section
  style="background: url({% static 'blog/images/My Post.jpg' %}); background-size: cover; background-repeat: no-repeat; background-attachment: fixed"
  class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        
        <div class="blockquote"><br><br>   
          <blockquote class="h2" style="color:beige;">  
          You can make this dream come true.
            </blockquote> <br><br>
            
          </div>
      </div>
    </div>
  </div>
</section><br><br>
<hr style=" border-style: none;
border-top: 9px dotted #835a6a ;    
height: 5px;
width: 5%;">



{% endblock content %}
